---
layout: archive
---

{{ content }}

{% assign category_subset = "" | split: ',' %}
{% assign post_subset = "" | split: ',' %}

{% for category in site.categories %}
  {% if category[0] == page.taxonomy %}
    {% for post in category.last %}
      {% for c in post.categories %}
        {% if c != page.taxonomy %}
          {% assign category_subset = category_subset | push: c %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% assign categories_max = 0 %}
{% for category in site.categories %}
  {% if category_subset contains category[0] %}
    {% assign post_subset = post_subset | push: category %}
    {% if category[1].size > categories_max %}
      {% assign categories_max = category[1].size %}
    {% endif %}
  {% endif %}
{% endfor %}

<ul class="taxonomy__index">
  {% for i in (1..categories_max) reversed %}
    {% for category in post_subset %}
      {% if category[1].size == i %}
        <li>
          <a href="#{{ category[0] | slugify }}">
            <strong>{{ category[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for i in (1..categories_max) reversed %}
  {% for category in post_subset %}
    {% if category[1].size == i %}
      <section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ category[0] }}</h2>
        <div class="entries-{{ entries_layout }}">
          {% for post in category.last %}
            {% include archive-single.html type=entries_layout %}
          {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
    {% endif %}
  {% endfor %}
{% endfor %}
